@using Microsoft.AspNetCore.Identity
@using System.Globalization;
@model ShoppingCartVM



<form method="post">
    <br />
    <div class="card shadow border-0">
        <div class="card-header bg-secondary bg-gradient text-light ml-0 py-4">
            <div class="row px-4">
                <div class="col-6">
                    <h5 class="pt-2 text-white">
                        Shopping Cart
                    </h5>
                </div>
            </div>
        </div>
        <div class="card-body my-4">
            <div class="row">
            </div>
            <div class="row mb-3 pb-3">
                <div class="col-md-2 offset-md-1">
                    <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary text-uppercase mb-5 btn-sm"><small>Continue Shopping</small></a>
                </div>
                <div class="col-md-10 offset-md-1">

                    @foreach (var item in Model.ShoppingCartList)
                    {
                        string id = $"a{item.ProductId}";
                        <div class="row border-bottom pb-3">
                            <div class="d-none d-lg-block col-lg-1 text-center py-2">
                                @if (item.Product.ProductImages != null && item.Product.ProductImages.Count() > 0)
                                {
                                    <img src="@item.Product.ProductImages.FirstOrDefault().ImageUrl" class="card-img-top rounded w-100" />
                                }
                                else
                                {
                                    <img src="https://placehold.co/500x600/png" class="card-img-top rounded w-100" />
                                }
                            </div>
                            <div class="col-12 col-lg-6 pt-md-3 container">
                                <h5 class="text-uppercase text-secondary"><strong>@item.Product.Title</strong></h5>
                                <small><h7 class="badge badge-success"><strong>by @item.Product.Author</strong></h7></small>
                                <br>
                                <button class="btn btn-sm mt-1" style=""
                                        type="button"
                                        data-mdb-toggle="collapse"
                                        data-mdb-target="#@id"
                                        aria-expanded="false">
                                    Opis <i class="bi bi-arrow-bar-down"></i>
                                </button>

                                <!-- Collapsed content -->
                                <div class="collapse mt-3" id="@id">
                                    <small>@Html.Raw(item.Product.Description)</small>
                                </div>
                            </div>
                            <div class="col-12  col-lg-5 text-center row">
                                <div class="col-3 text-md-right pt-2 pt-md-4">
                                    <h6 class="fw-semibold">
                                        @item.Price.ToString("c", CultureInfo.CreateSpecificCulture("pl-PL"))
                                        <span class="text-muted">&nbsp;x&nbsp;</span>@item.Count
                                    </h6>
                                </div>
                                <div class="col-6 col-sm-4 col-lg-6 pt-2">
                                    <div class="w-75 btn-group" role="group">
                                        <a asp-action="plus" asp-route-cartId="@item.Id" class="btn btn-outline-primary bg-gradient py-2">
                                            <i class="bi bi-plus-square"></i>
                                        </a> &nbsp;
                                        <a asp-action="minus" asp-route-cartId="@item.Id" class="btn btn-outline-primary bg-gradient py-2">
                                            <i class="bi bi-dash-square"></i>
                                        </a>
                                    </div>
                                    @if (User.IsInRole(SD.Role_Admin))
                                    {
                                        <div>
                                            <a href="/admin/product/upsert?id=@item.Product.Id" class="btn btn-primary mt-2 mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                                        </div>
                                    }
                                </div>
                                <div class="col-3 col-sm-4 col-lg-2 offset-lg-1 text-right pt-2">
                                    <a asp-action="remove" asp-route-cartId="@item.Id" class="btn btn-danger bg-gradient py-2 ">
                                        <i class="bi bi-trash-fill"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>

            @if (Model.ShoppingCartList.Count() >= 1)
            {
                <div class="card-footer bg-white border-0">
                    <div class="row">
                        @if (Model.OrderHeader.OrderBeforeDiscount != 0)
                        {
                            <div class="col-md-12 offset-md-3">
                                <ul class="list-group">
                                    <li class="d-flex align-items-center">
                                        <h5 class="text-dark fw-semibold text-uppercase" style="color:brown; padding-left:3%;"> Total (PLN):</h5>

                                        <h4 class="text-decoration-line-through " style="color:brown; padding-left:1%;">@Model.OrderHeader.OrderBeforeDiscount.ToString("c", CultureInfo.CreateSpecificCulture("pl-PL"))</h4>
                                        <i class="bi bi-arrow-right-short" style="padding-left:1%; position:relative; top: -4px;"></i>
                                        <h4 style="padding-left:1%;" class="text-dark fw-bolder">@Model.OrderHeader.OrderTotal.ToString("c", CultureInfo.CreateSpecificCulture("pl-PL"))</h4>
                                    </li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-4 offset-md-4">
                                <ul class="list-group">
                                    <li class="d-flex justify-content-between align-items-center">
                                        <h5 class="text-dark fw-semibold text-uppercase"> Total (PLN)</h5>
                                        <h4 class="text-dark fw-bolder">@Model.OrderHeader.OrderTotal.ToString("c", CultureInfo.CreateSpecificCulture("pl-PL"))</h4>
                                    </li>
                                </ul>
                            </div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 offset-md-4">

                        <input asp-for="@Model.CartPromo.Title" onkeyup="readyPromoCode()" id="inputPromoCode"><button class="btn" id="sendPromoCode" type="submit"  disabled>Add Promo</button>

                        <a asp-action="Summary" class="btn btn-primary border-0 bg-gradient  py-2" style="width:77.5%;">Summary</a>

                        @*<a  type="button" class="btn btn-primary border-0 bg-gradient w-100 py-2" href="/customer/cart/summary?ordertotal=@Model.OrderHeader.OrderTotal">Summary</a>*@

                    </div>
                </div>
            }
            @if (Model.ShoppingCartList.Count() <= 0)
            {
                <div class="row mt-5">
                    <div class="text-center">
                        <p><b>There are currently no items in your cart</b></p>
                    </div>
                </div>
            }
        </div>
</form>

<script src="~/js/promo.js"></script>

